/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";

$fontstack: ff-meta-web-pro, sans-serif;
$font-condensed: ff-meta-web-pro-condensed, sans-serif;
$primarycolor: #826967;
$primarycolor-light: #D6C0BF;
$dark_red: #442523;
$pc_light: #D6C0BF;
$asbestos: #7f8c8d;
$huge: 80px;

$break-small: 480px;
$break-medium: 768px;

body {
	font: 100% $fontstack;
	color: $primarycolor !important;
	font-family: "ff-meta-web-pro";
	h1, h2, h3, h4, p {
		font-family: "ff-meta-web-pro";
	}
	h1 {font-size:80px;line-height: 0.75em;}

}

main {
	padding: 5% 0;
}

body.salon-details main {padding: 5% 0 0 0;}

body.home {
	background: url(../images/bg.jpg);
	background-size: cover;	
	background-position: top;
	font: 100% $fontstack;
	color: $primarycolor !important;
	font-family: "ff-meta-web-pro";
	h1, h2, h3, h4, p {
		font-family: "ff-meta-web-pro";
		color: $primarycolor !important;
	}
	h1 {font-size:80px;line-height: 0.75em;}
}



ul {list-style: none;margin: 0;}

li {display: inline-block;}

ul.locations li:first-child {margin-right: 0.5rem;}

a.button {
	font-family: $fontstack;
	font-weight: 400;
	background: $primarycolor;
	color: white;
	border-radius: 5px;
	font-weight: 100;
	text-align: center;
	width: 200px;
	padding: 10px 20px;
    &:hover {
      background-color: $dark_red !important;
    }
}

.black {color: black;}

#aveda-logo {
	position: absolute;
	top: 5%;
	right: 5%;
}

#intro {
	padding-top: 5%;
}


/* SALON DETAILS */
section.location-details {
	padding-bottom: 7rem;
	h2 {
		color: $primarycolor;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.5em;
	}
	p a {
		color: $primarycolor;
		&:hover {color:$dark_red;}
	}
}


i.fa-chevron-left {
    border: 2px solid white;
    border-radius: 100%;
    padding: 3px;
    width: 27px;
    margin-right: 0px;
    padding-left: 4px;
    margin-right: 10px;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  -o-transition:.5s;
	  transition:.5s;
	&:hover {
		background:rgba(200,200,200,0.6);
	}
}

.top-bar {
	background: $primarycolor;
	.nav-container {
		margin: 0 3%;
		height: 100%;
	}
	 .title-area {
		max-height: 100%;
		@media screen and (max-width: 768px) {
			.title-area h1 a {
				width: 100%;
			}
		}
	}
}




/* slider styling */ 
.bx-wrapper {
	img {width: 100%;}
	.bx-controls-direction a {
		top: inherit;
		bottom: 5%;
		top: inherit !important;
	}
}

div#bx-pager {
	text-align: center;
	margin:0 auto;
	img {max-width: 90px;border: 1px solid $primarycolor;margin-bottom: 0.5rem;}
}

section.location-map {
	background: url(../images/location-footer-bg.jpg);
	padding-top: 6rem;
	padding-bottom:3rem;
	#map {border:2px solid $primarycolor !important;height:450px;width:100%;}
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
        line-height: 115%;
    }
    a.map-button {
    	background: $primarycolor;
    	width: 35%;
    	text-align: center;
    	padding: 5px 10px;
    	color: white;
    	margin-right: 19%;
    	margin-top: 10px;
    	float: right;
    }
}



.reviews {
	h2 {color: $primarycolor;padding-bottom: 1rem;}
	h3 {color: $primarycolor;}
	i {font-size: 4em;}
}

/* AVEDA COLOR STYLING */

.interior-hero {
	background: url(../images/interior-header.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
	min-height: 45vh;
	color: $primarycolor;
	.row {
		padding-top: 10vh;
	}
	.hero-text {
		  position: relative;
		  h1, h2 {
		  	color: #ebe4e1 !important;
		  }
		  @media only screen and (min-width: 64.063em) {
		  	h1, h2 {margin-left:-5rem;}
		  }
	}


	&:before {
		position: absolute;
		width: 46%;
		left: 0;
		bottom: 0;
		border-bottom: 20px solid white;
		border-right: 20px solid transparent;
		display: block;
		content:" ";
	}

	&:after {
		position: absolute;
		left: 46%;
		bottom: 0;
		right: 0;
		border-bottom: 20px solid white;
		border-left: 20px solid transparent;
		display: block;
		content:" ";
	}
}

.content {
	h2 {color: $primarycolor;text-transform: uppercase;}
	p {color: $asbestos;}
}

/* hide nav */

.top-bar .toggle-topbar.menu-icon a {display:none;}

.left-off-canvas-toggle {
  .menu {
    float: left;
    display: block;
    margin: 3.5rem 2.5rem;
  }  
}


.move-right .exit-off-canvas {
  box-shadow: none;
}

.left-off-canvas-menu {
  width: 35%;
}

.move-right > .inner-wrap {
  transform: translate3d(35%, 0, 0); 
}

.left-off-canvas-menu {
  background: $primarycolor-light;
  padding: 3rem 0;
  .container {padding-left:12%;}
  .side-nav li {display:block;}
  .side-nav.main li a:not(.button) {
    font-weight: 100;
    font-style: normal;
    font-family: $font-condensed;
    line-height: 100%;
    font-size: 3rem;
    color: $dark_red;
    text-transform: capitalize;
    display: block;
    .is-active, &:hover {
      color: #f1f3f3;
      background: transparent;
    }
  }
  .side-nav.secondary li a:not(.button) {
    color: $primarycolor;
    font-weight: 200;
    font-style: normal;
    font-family: $fontstack;
    font-size: 1.2rem;
    padding-bottom: 0rem;
    text-transform: capitalize;
    .is-active, &:hover {
      color: #f1f3f3;
      background: transparent;
    }
  }
  .social {
    padding-left: 0.8rem;
    padding-top: 3rem;
    li {
      margin-left: 1.1rem;
      &:hover {
      	cursor:pointer;
      }
      i {
      	font-size: 1.618em;
      	color: $asbestos;
      }
    }
    li:hover i {color:white;}
  }
}


.top-bar,
.middle-bar,
.bottom-bar {
	display: block;
	transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
}

.top-bar, .bottom-bar {
	transform-origin: 100% 50%;
}


.rotated {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}




@media screen and (max-width:768px) {
	table {margin: 0 auto;margin-bottom:2rem;}
	.left-off-canvas-menu {
	  width: 100%;
	  	.container {padding:0;}
		.inline-list > li {float:none;display:inline-block;}
	}
	.move-right > .inner-wrap {
	  transform: translate3d(100%, 0, 0); 
	}

}

@media screen and (max-width: 480px) {
	h1 {line-height: 1em;}
	ul.locations li:first-child {margin-right: 0;}
	#intro {height:100%;background: rgba(255,255,255,0.6);}
	#aveda-logo {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: inherit;
		text-align: center;
	}
}







