/* nav styling */

$fontstack: ff-meta-web-pro, sans-serif;
$font-condensed: ff-meta-web-pro-condensed, sans-serif;
$primarycolor: #826967;
$primarycolor-light: #D6C0BF;
$dark_red: #442523;
$pc_light: #D6C0BF;
$asbestos: #7f8c8d;
$huge: 80px;

$break-small: 480px;
$break-medium: 768px;

.top-bar {
  background: $primarycolor;
  .nav-container {
    margin: 0 3%;
    height: 100%;
  }
   .title-area {
    max-height: 100%;
    @media screen and (max-width: 768px) {
      .title-area h1 a {
        width: 100%;
      }
    }
  }
}




.top-bar .toggle-topbar.menu-icon a {display:none;}

.left-off-canvas-toggle {
  .menu {
    float: left;
    display: block;
    margin: 3.5rem 2.5rem;
  }  
}


.move-right .exit-off-canvas {
  box-shadow: none;
}

.left-off-canvas-menu {
  width: 35%;
}

.move-right > .inner-wrap {
  transform: translate3d(35%, 0, 0); 
}

.left-off-canvas-menu {
  background: $primarycolor-light;
  padding: 3rem 0;
  .container {padding-left:12%;}
  .side-nav li {display:block;}
  .side-nav.main li a:not(.button) {
    font-weight: 100;
    font-style: normal;
    font-family: $font-condensed;
    line-height: 100%;
    font-size: 3rem;
    color: $dark_red;
    text-transform: capitalize;
    display: block;
    @media screen and (max-width:768px) {
      font-size: 1.8em;
    }
    .is-active, &:hover {
      color: #f1f3f3;
      background: transparent;
    }
  }
  .side-nav.secondary li a:not(.button) {
    color: $primarycolor;
    font-weight: 200;
    font-style: normal;
    font-family: $fontstack;
    font-size: 1.2rem;
    padding-bottom: 0rem;
    text-transform: capitalize;
    .is-active, &:hover {
      color: #f1f3f3;
      background: transparent;
    }
  }
  .social {
    padding-left: 0.8rem;
    padding-top: 1rem;
    li {
      margin-left: 1.1rem;
      &:hover {
        cursor:pointer;
      }
      i {
        font-size: 1.618em;
        color: $asbestos;
      }
    }
    li:hover i {color:white;}
  }
}


.top-bar,
.middle-bar,
.bottom-bar {
  display: block;
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
}

.top-bar, .bottom-bar {
  transform-origin: 100% 50%;
}


.rotated {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}


/* Reviews */


#D3cpWidget,
.d3cp_feature_wrap,
.d3cp_review_main {
  max-height: 470px !important;
  overflow:scroll !important;
 width: 100% !important;
 margin-left: 0 !important;
 background: transparent !important;
 box-sizing: border-box;
 font-family: 'brandon-grotesque', sans-serif !important;
 }
.d3cp_itemized_box,
.d3cp_review_pic,
.d3cp_review_seal_wrap { display: none !important; }
.d3cp_feature_wrap { padding: 0 !important; }
.d3cp_review_box {
   margin: 0 !important;
   overflow: initial !important;
}
.d3cp_review_content {
   font-size: 1rem !important;
   line-height: 1.5rem !important;
}
.d3cp_review_bizcomment {
   margin: 10px 0 20px !important;
   color: #658732 !important;
   border-left: 2px solid #658732 !important;
}

#D3cpWidget {
    background: rgba(255,255,255,0.8)! important;
    padding: 10px 20px !important;
}

@media screen and (max-width:768px) {
  #D3cpWidget {margin-bottom:2rem;margin-top: 1rem;}
  .left-off-canvas-menu {
    width: 100%;
      .container {padding:0;}
    .inline-list > li {float:none;display:inline-block;}
  }
  .move-right > .inner-wrap {
    transform: translate3d(100%, 0, 0); 
  }

}



